*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
  }
  
  body {
    font-family: 'Helvetica';
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
  }

    .center{
    max-width: 1480px;
    padding: 1px;
  }
  
  nav{
    background: #141414;
    padding: 20px;
    display: flex;
  }
  
  .nav-left{
    float: left;
  }
  
  .nav-left img{
    max-width: 150px;
  }
  .menu-nav{
    position: relative;
    top: -15px;
    display: inline-block;
    margin-left: 30px;
  }

body header p1 {
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgb(182, 32, 32);
    padding: 2rem;
    font-size: 2vw;
}

body header div {
    display: flex;
    justify-content: center;
    color:floralwhite;
    font-size: 1.2vw;
    line-height: 2vw; 
    align-items: center;
}

body header img {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    padding: 1.5rem;
    margin-right: 10rem;
}

header div span {
    font-size: 1.5vw;
    font-weight: 700;
    color:floralwhite;
    padding: 3rem;
}
body section#devs{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.788);
}

body section#devs P2 {
    font-family: 'Helvetica', serif;
    font-size: 2vw;
    width: 100%;
    padding: 4rem;
    color: floralwhite;
    display: flex;
    justify-content: center;
    color: rgb(182, 32, 32);
    text-shadow: blanchedalmond 3px;
    }

body section#devs div#time {
    display: flex;
    flex-wrap: wrap;
}
body section#devs div#time img{
    width: 15%;
    padding: 1rem 4rem;
    margin-left: 8rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

body section#devs div#time div#descrição {
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 1.2vw;
    width: 40%;
    padding: 2rem 2rem 0rem 0rem;
    color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

body section#devs div#time div#redes{
    width: 100%;
    padding: 0rem 2rem 2rem 0rem;
    display: flex;
    justify-content: center;
}

body section#devs div#time div#redes a{
    font-size: 3vw;
    padding: 0rem 3rem 0rem 3rem;
} 
