<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NINEFLIX | ADM</title>
</head>

<body>
    <section>
        <!-- {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %} -->
    
        <!-- <a href="/" id="config"><i class="fa fa-home" aria-hidden="true"></i></a> -->
        {% if filme == '' %}
        <form action="/new" method="POST">
        <h1>Cadastre um novo filme</h1>
        {% else %}
        <form action="/edit/{{filme.id}}" method="POST">
        <h1>Atualize o filme</h1>
        {% endif %}
    
          <label for="nome">Nome</label>
          <input type="text" placeholder="Nome do filme" id="nome" name="nome" value="{{filme.nome}}">
    
          <label for="cartaz">Cartaz</label>
          <input type="text" placeholder="Link da imagem" id="cartaz" name="cartaz" value="{{filme.cartaz}}">
    
          {% if filme == '' %}
          <button type="submit">Cadastrar</button>
          {% else %}
          <button type="submit">Atualizar</button>
          <a href="/adm">Cancelar</a>
          {% endif %}
        </form>
      </section>
    
      <section>
        <table>
    
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Cartaz</th>
              <th>Ações</th>
            </tr>
          </thead>
    
          <tbody>
            {% for f in filmes %}
            <tr>
              <td>{{f.id}}</td>
              <td>{{f.nome}}</td>
              <td>{{f.cartaz}}</td>
              <td>
                <a href="/edit/{{f.id}}">Editar</a>
                <a href="/{{f.id}}">Apagar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
    
        </table>
      </section>
    
      {% if filmeDel != undefined %}
      <section>
        <div>
          <a href="/adm" id="fechar"><i></i></a>
          <h2>Confirmação</h2>
          <p>Deseja realmente apagar o filme: {{filmeDel.nome}}</p>
          <div>
            <a href="/adm">Cancelar</a>
            <a href="/delete/{{filmeDel.id}}">Apagar</a>
          </div>
        </div>
      </section>
      {% endif %}
</body>

</html>