<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/catalogo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>NINEFLIX</title>
</head>

<body>

    <header>
        <div class="center">
            <div class="header-left">
                <a href=""><img src="../static/img/logo.png"></a>
                <!-- <div class="menu-header">
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Séries</a></li>
                        <li><a href="">Filmes</a></li>
                        <li><a href="">Bombando</a></li>
                        <li><a href="">Minha lista</a></li>
                    </ul>
                </div> -->
            </div>

            <div class="clear"></div>
        </div>
    </header>

    <div class="container">
        <p class="page-title">
            Qual seu filme favorito?
        </p>
        <div class="form-wrapper">
            <input type="text" id="filme" name="filme" placeholder="Insira endereço de imagem">
            <button onClick="adicionarFilme()">Adicionar Filme</button>
        </div>
    </div>
    <div id="listaFilmes"></div>

    <!-- {% depois precisa colocar o if %}
    <section class="modal">
        <div id="card">
            <a href="/rota da pagina dos itens" id="fechar-modal"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
            <h2>Excluir item</h2>
            <p>Você tem certeza que deseja concluir? {{pegar la no app.py o nome do filme}} será excluido</p>

            <div id="btns">
                <a class="cancelar-btn" href="/rota da pagina dos itens">Cancelar</a>
                <a class="excluir-btn" href="/rota da pagina delete dos itens/{{especificar qual filme}}">Excluir</a>
            </div>
        </div>
    </section>
    {% endif %} -->

    <script src="../static/js/catalogo.js"></script>
</body>

</html>