<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/catalogo.css')}} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>NINEFLIX</title>
</head>

<body>

    <nav>

        <!-- so coloquei dentro de uma div para dividir a nav em duas div e colocar o display flex-->
        <div id="logo">
            <a href="/">
                <img src=" {{ url_for('static', filename='img/logo.png')}} " alt="">
            </a>
        </div>
        

        <!-- tive a ideia de colocar o filter iguai do netflix, então coloquei o o filter e o icone config juntos nuna div, mas cada um dentro de suas proprias div -->
        <div id="filtro-config">
            <!-- eu não seu se necessáriamente precisa dessa div filtro-filmes ou talvez poderia falar com o form-->
            <div id="filtro-filmes">
                <form action="/filter" method="POST">
                    <!-- a div filtro-input era para conseguir envolver os dois na borda branca-->
                    <div id="filtro-input">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <!-- o input aparace um 'X' azul mas eu não soube estilizar ainda -->
                        <input type="search" placeholder="Pesquisar" id="search" name="search">
                    </div>
                    <!-- <button class="btn btn-danger" type="submit">Pesquisar</button> -->
                </form>
            </div>

            <!-- aqui coloquei esta na div pelo motivo de flex-->
            <div id="icon-config">
                <a href="/login" id="config"> 
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        
    </nav>

    <section id="catalogo">
        <!-- coloquei os dois dentro de uma div para conseguir jogar o display flex -->
        <div id="title-lista">
            <h3>Catálogo</h3>
            <a href="/catalogo">Listar Tudo</a>
        </div>
        <!-- coloquei os dois dentro de uma div para conseguir jogar o display flex -->

        <table>
            <thead>
                <tr>
                    <th>Filme/Série</th>
                    <th>Cartaz</th>
                </tr>
            </thead>

            <tbody>
                {% for f in filmes %}
                <tr>
                    <td>{{f.nome}}</td>
                    <td>
                        <img src="{{f.cartaz}}"></img>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>

</body>

</html>