<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Catálogo</title>
</head>

<body>
    <nav>
        <div class="center">
            <div class="nav-left">
                <a href=""><img src="../static/img/nineflix.png"></a>
            </div>

            <div class="clear"></div>
        </div>
    </nav>

    <header>
        <P1>Onde Assitir?</P1>
        <div>
            <span> Com a profusão de serviços de streaming há cada vez mais conteúdo disponível, mas também mais lugares
                para procurar, esse catálogo te ajuda com isso. Digite o que você procura para descobrir qual serviço de
                streaming te atende melhor!</span>
            <img src="../static/img/Virtual reality-pana.png" alt="Ilustração de Homem assistindo com óculos 3D">
        </div>
    </header>

    <section id="devs">
        <P2> Desenvolvedores do Projeto </P2>
        <div id=time>
            <img src="../static/img/euzinho.png" alt="foto de carlos:">
            <div id=descrição> Carlos Wesley, 24 anos, paulista, Psicólogo e pesquisador. </div>
            <div id="redes">
                <a href="https://www.linkedin.com/in/carlos1500/" target="_blank"> <i class="fa fa-linkedin-square"
                        aria-hidden="true"></i>
                </a>

                <a href="https://github.com/carlos1500" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/espacopoiesis/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>


        </div>
        <div id=time>
            <img src="../static/img/marcus.png" alt="foto de marcus:">
            <div id=descrição> Meu nome é Marcus, tenho 24 anos e moro em Ananindeua no Estado do Pará. Sou formado em
                Licenciatura em Matemática pela Universidade do Estado do Pará e atualmente estudo programação na Blue
                EdTech. </div>
            <div id="redes">
                <a href="https://www.linkedin.com/in/carlos1500/" target="_blank"> <i class="fa fa-linkedin-square"
                        aria-hidden="true"></i>
                </a>

                <a href="https://github.com/carlos1500" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/espacopoiesis/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>


        </div>
        <div id=time>
            <img src="../static/img/perfilq.png" alt="foto de Ana:">
            <div id=descrição> Me chamo Ana Carolina, tenho 20 anos e moro no Rio de Janeiro. No começo de 2021 começa
                minha jornada para me tornar programadora, passei para a Blue EdTech e estou estudando para realizar
                meus sonhos e mudar a minha vida.</div>
            <div id="redes">
                <a href="https://www.linkedin.com/in/carlos1500/" target="_blank"> <i class="fa fa-linkedin-square"
                        aria-hidden="true"></i>
                </a>

                <a href="https://github.com/carlos1500" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/espacopoiesis/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>


        </div>
        <div id=time>
            <img src="../static/img/avataf.png" alt="foto de Steffany:">
            <div id=descrição>Meu nome é Steffany Sympson. Carioca por nascimento e criação, 31 anos, Engenheira, Perita
                Judicial e Dev em desenvolvimento. Três anos depois de formada em engenharia descobri gosto pela
                tecnologia e então resolvi arriscar e recomeçar... </div>
            <div id="redes">
                <a href="https://www.linkedin.com/in/carlos1500/" target="_blank"> <i class="fa fa-linkedin-square"
                        aria-hidden="true"></i>
                </a>

                <a href="https://github.com/carlos1500" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/espacopoiesis/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>


        </div>
        <div id=time>
            <img src="../static/img/cauaft.png" alt="foto de Cauã:">
            <div id=descrição>Meu nome é Cauã Campos, tenho 16 anos e moro no Recife. Comecei esse ano com essa intriga
                que eu tenho em programação, meu primeiro contato com programação foi com o curso da Blue que ainda
                estou fazendo. Aprendi o básico de Python e agora estou na estrada do Front-End.</div>
            <div id="redes">
                <a href="https://www.linkedin.com/in/carlos1500/" target="_blank"> <i class="fa fa-linkedin-square"
                        aria-hidden="true"></i>
                </a>

                <a href="https://github.com/carlos1500" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/espacopoiesis/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>


        </div>

    </section>

</body>

<footer>

</footer>

</html>