<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Catálogo</title>
</head>

<body>

    <nav>
        <div class="center">
            <div class="nav-left">
                <a href=""><img src="../static/img/logo.png"></a>
                <div class="menu-nav">
                    <ul>
                        <li><a href="">Catálogo</a></li>
                    </ul>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </nav>

    <header>
        <P1>Onde Assitir?</P1>
        <div>
            <span> Com a profusão de serviços de streaming há cada vez mais conteúdo disponível, mas também mais lugares
                para procurar, esse catálogo te ajuda com isso. Digite o que você procura para descobrir qual serviço de
                streaming te atende melhor!</span>
            <img src="../static/img/Virtual reality-pana.png" alt="Ilustração de Homem assistindo com óculos 3D">
        </div>
    </header>

    <section id="devs">
        <P2> Desenvolvedores do Projeto </P2>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/carlos.png">
            </div>
            <div class="content">
                <h2>Carlos<br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/marcus.png">
            </div>
            <div class="content">
                <h2>Marcus<br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/caua.png">
            </div>
            <div class="content">
                <h2>Cauã<br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/ana.png">
            </div>
            <div class="content">
                <h2>Ana Carolina<br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/steffany.png">
            </div>
            <div class="content">
                <h2>Steffany Sympson<br><span>Developer</span></h2>
            </div>
        </div>

    </section>

</body>

<footer>

</footer>

</html>