<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Catálogo</title>
</head>

<body>

    <nav>
        <a class="logo" href=""><img src="../static/img/logo.png" id="img"></a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="/catalogo">Catálogo</a></li>
        </ul>
    </nav>

    <header>
        <P1>Onde Assitir?</P1>
        <div>
            <span> Com a profusão de serviços de streaming há cada vez mais conteúdo disponível, mas também mais lugares
                para procurar, esse catálogo te ajuda com isso. Digite o que você procura para descobrir qual serviço de
                streaming te atende melhor!</span>
            <img src="../static/img/Virtual reality-pana.png" alt="Ilustração de Homem assistindo com óculos 3D">
        </div>
    </header>

    <section id="devs">
        <P2> Desenvolvedores do Projeto </P2>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/carlos.png">
            </div>
            <div class="content">
                <h2><a href="https://portfoliocbernardox.herokuapp.com/" target="_blank">Carlos</a><br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/marcus.png">
            </div>
            <div class="content">
                <h2><a href="https://marcusvinysilvaportfolio.herokuapp.com/" target="_blank">Marcus</a><br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/caua.png">
            </div>
            <div class="content">
                <h2><a href="https://portifoliocaua.herokuapp.com/" target="_blank">Cauã</a><br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/ana.png">
            </div>
            <div class="content">
                <h2><a href="https://anacarolinagarcone.herokuapp.com/" target="_blank">Ana Carolina</a><br><span>Developer</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBX">
                <img src="../static/img/steffany.png">
            </div>
            <div class="content">
                <h2><a href="https://portfoliossympson.herokuapp.com/" target="_blank">Steffany Sympson</a><br><span>Developer</span></h2>
            </div>
        </div>

    </section>

    <footer>
        <div><li>@Todos os direitos reservados | Blue.ED.Tech</li></div>
    </footer>

    <script src="../static/js/inicio.js"></script>

</body>

</html>